.toggle {
	background-color: var(--theme-toggle-bg);
	box-shadow: var(--shadow);

	&:hover {
		background-color: var(--theme-toggle-hover);
	}
}

.menu {
	&::before {
		content: "";
		position: absolute;
		z-index: -10;
		top: -7%;
		left: 41%;
		width: 12px;
		height: 12px;
		background-color: white;
		transform: rotate(45deg);
		box-shadow: -2px -2px 0px 0px rgba(209, 213, 219, 0.75);
	}
}